<div class="col margin-left margin-right">
    <div class="col-md-12 mb-3 ml-2 mt-2">
        <img src="assets/product.png" class="" width="150px" height="140px">
    </div>
    <hr>
    <div class="col-md-12">
        <div class="col-md-12 mb-3">
            <h2> <i class="fas fa-info-circle blue-color"></i>&nbsp;Information de l'article</h2>
           
        </div>
        <div class="col-md-12">
            <form>
                <div class="row  mb-3">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Code article">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Designation">
                  </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Prix unitaire HT ">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Taux TVA ">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Prix unitaire TTC">
                    </div>
                    <div class="col">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Selectionnez une catégorie</option>
                            <option> catégorie 1</option>
                            <option>catégorie 2</option>
                            <option>catégorie 3</option>
                            <option>catégorie 4</option>
                          </select>
                    </div>
                  </div>
                  
              </form>

        </div>
    </div>

    <div class="col-md-12 " style="text-align: right;">
        <button class="btn btn-danger " (click)="cancelClick()">
            <i class="fas fa-ban"></i>&nbsp;Annuler</button>
        <button class="btn btn-primary margin-left " (click)="saveClick()">
            <i class="fas fa-save "></i>&nbsp;Enregistrer</button>
    </div>
</div>

