<div class="row m-3 ">
    
  <app-box></app-box>
  
</div>

<div class="row mt-5 mb-2" style="text-align: center;">
    
      <div class="col-md-7 " style="width: 650px; height: 350px; margin-left: 3%;">
       <div class="card">
        <canvas id="statisticsBarChart"></canvas>
        
       </div>
       </div>
      <div class="col-md-5 "  style="width: 550px;; margin-left:5px; ">
       <div class="card" >
        <canvas id="statisticsLineChart" style="margin-top: 50px;" ></canvas>
       
       </div>
      </div>
      
</div>


  
