<div class=" row mb-1  mr-0 castom-border" >
  
    <!-- details article -->
    <div class="col-md-3 border-right mb-1 mt-1 ">
        <div class="col ">
            <div class="row" style="text-align: center;" >
               
                <div  class="col-md-11"><h5>Date:12/02/2022</h5></div>
            </div>
           
        </div>
    </div>
    <!-- categories -->
    <div class="col-md-3 border-right mb-1 mt-1">
        <div class="row">
           
            
               
                    
                    <div class="col-md-12" style="text-align: center;">

                        <h5>Quantité:160</h5>
                    </div>
                
        
            
        </div>
    </div>

    <div class="col-md-3 border-right mb-1 mt-1">
        <div class="row">
           
            
               
                    
                    <div class="col-md-12" style="text-align: center;">

                        <h5>Type: Sortie</h5>
                    </div>
                
        
            
        </div>
    </div>
    <!-- bouttons action -->
    <div class="col-md-3 mb-1 mt-1 " >
        <div class="row" style="text-align: center;" >
           
                
                   <h5>Commande: Client</h5>
                
            
           
        </div>
    </div>
</div>