<div class="col margin-left margin-right">
    <div class="col-md-12">
        <div class="col-md-12 mb-3 mt-3">
            <h2>Nouvelle  catégorie</h2>
           
        </div>
        <div class="col-md-12 " style="margin-top: 50px;">
            <form>
                <div class="row  mb-3">
                  <div class="row mb-3">
                    <input type="text" class="form-control" placeholder="Code catégorie">
                  </div>
                  <div class="row">
                    <input type="text" class="form-control" placeholder="Description">
                  </div>
                </div>
               
              </form> 

        </div>
    </div>

    <div class="col-md-12 " style="text-align: right;">
        <button class="btn btn-danger " (click)="cancelClick()">
            <i class="fas fa-ban"></i>&nbsp;Annuler</button>
        <button class="btn btn-primary margin-left "(click)="saveClick()">
            <i class="fas fa-save "></i>&nbsp;Enregistrer</button>
    </div>
</div>

