<div class=" row mb-1  mr-0 castom-border " style="width: 160%;">
    <div class="col-md-1 border-right p-1 text-center mb-1 mt-1">
        
            <img src="assets/product.png" width="80px" height="70px">
      
        
    </div>
    <!-- details article -->
    <div class="col-md-5 border-right mb-1 mt-1 ">
        <div class="col " style="text-align: left;">
            <div class="row" >
                <div class="col-md-1" >  <i class="fas fa-info-circle blue-color"></i></div>
                <div  class="col-md-11" >Nom  </div>
            </div>
            <div class="row">
                <div class="col-md-1">  <i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11" >Prénom</div>
            </div>
            <div class="row">
                <div class="col-md-1" >  <i class="fas fa-phone-alt blue-color"></i></div>
                <div  class="col-md-11" >Numéro de téléphone </div>
                
            </div>
            
        </div>
    </div>
    <!-- categories -->
    <div class="col-md-3 border-right mb-1 mt-1">
        <div class="col " style="text-align: left;">
            <div class="row">
                <div class="col-md-1" > <i class="fas fa-qrcode blue-color"></i></div>
                <div  class="col-md-10" >Code cmd 15432 </div>
            </div>
            <div class="row">
                <div class="col-md-1"> <i class="far fa-calendar-check blue-color"></i></div>
                <div class="col-md-10" >Date 12.12.2020</div>
            </div>
            <div class="row">
                <div class="col-md-1" >  <i class="fas fa-cart-arrow-down blue-color"></i></div>
                <div  class="col-md-10" >Etat LIVRE</div>
                
            </div>
            
        </div>
    </div>
    <!-- bouttons action -->
    <div class="col-md-3 mb-1 mt-1 ">
        <div class="row">
            <div class="col-md-6" style="text-align: center;">
                <button type="button" class="btn btn-link " data-bs-toggle="modal" data-bs-target="#exampleModal"  style="text-decoration:none;">
                    <i class="fas fa-pencil-alt blue-color" ></i>&nbsp;Modifier</button>
            </div>
            <div class="col-md-6" style="text-align: center; ">
                <button type="button" class="btn btn-link " data-bs-toggle="modal" data-bs-target="#exampleModal"  style="text-decoration:none; color:red;">
                    <i class="fas fa-trash-alt " style="color:red;"></i>&nbsp;Supprimer</button>
            </div>
            
        </div>
    </div>
</div> 

