<div class="col">
    <div class="  row  m-3 p-0">
        <div class="  col-md-8 ">
            <h2>Liste des utilisateurs </h2>

        </div>
        <div class="col-md-4 " style="text-align: right; margin-left: 85%; ">
           <app-boutton-action (clickEvent)="nouvelUtilisateur()"  [estImporterVisible]="false" [estNouveauVisible]="false"></app-boutton-action>
            
        </div>
    </div>
    <div class=" col m-3 p-3">
      <app-detail-util></app-detail-util>
      <app-detail-util></app-detail-util>
      <app-detail-util></app-detail-util>
      <app-detail-util></app-detail-util>
    </div>
    <div class="row mb-3 " style="text-align: center;">
        <div class=" col-md-12 text-center">
            <app-pagination></app-pagination>
        </div>
        
    </div>
</div>
