<div class=" row mb-1  mr-0 castom-border">
    <div class="col-md-1 border-right p-1 text-center mb-1 mt-1">
        
            <img src="assets/product.png" width="80px" height="70px">
      
        
    </div>
    <!-- details article -->
    <div class="col-md-5 border-right mb-1 mt-1 ">
        <div class="col ">
            <div class="row">
                <div class="col-md-1" >  <i class="fas fa-info-circle blue-color"></i></div>
                <div  class="col-md-11" >Code article  </div>
            </div>
            <div class="row">
                <div class="col-md-1">  <i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11" >Désignation</div>
            </div>
            <div class="row">
                <div class="col-md-1"> <i class="fas fa-dollar-sign blue-color"></i></div>
                <div  class="col-md-11">Prix HT  </div>
            </div>
            <div class="row">
                <div class="col-md-1"> <i class="fas fa-dollar-sign blue-color"></i></div>
                <div  class="col-md-11">Prix TTC  </div>
            </div>
        </div>
    </div>
    <!-- categories -->
    <div class="col-md-3 border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-2">
                <i class="fas fa-flag-checkered blue-color"></i>
            </div>
            <div class="col-md-10">
                <div class="row" >
                    <div class="col-md-12">Code catégorie</div>
                    <div class="col-md-12">Description catégorie</div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- bouttons action -->
    <div class="col-md-3 mb-1 mt-1 ">
        <div class="row">
            <div class="col-md-4"><button type="button" class="btn btn-link " style="text-decoration:none; ">
                <i class="fas fa-pencil-alt blue-color"></i>&nbsp;Modifier</button>
            </div>
            <div class="col-md-4"><button type="button" class="btn btn-link "style="text-decoration:none; color:red;">
                <i class="fas fa-trash-alt"></i>&nbsp;Supprimer</button>
            </div>
            <div class="col-md-4"><button type="button" class="btn btn-link "style="text-decoration:none;">
                <i class="far fa-list-alt"></i>&nbsp;Details</button>
            </div>
        </div>
    </div>
</div>