<div class="col">
    <div class="  row  m-3 p-0">
        <div class="  col-md-8">
            <h2>Liste des catédories </h2>

        </div>
        <div class="col-md-4" style="text-align: right;">
         <app-boutton-action (clickEvent)="NouvelCategorie()"> 

         </app-boutton-action>
        </div>
    </div>
    <div class=" col m-3 p-3" >
      <div class="row castom-border mb-3 p-3">
        <div class="col-md-3 border-right">
          <h6 style="text-align: center;"> Code catégorie</h6>
        </div>
        <div class="col-md-4 border-right">
            <h6 style="text-align: center;">Description catégorie</h6>
        
        </div>
        <div class="col-md-5 ">
         <h6 style="text-align: center;">Action</h6>
        </div>
      </div>
      <div class="row castom-border mb-3 p-3">
        <div class="col-md-3 border-right">
           ELC45
        </div>
        <div class="col-md-4  border-right">
            Électronique
        
        </div>
        <div class="col-md-5 ">
          <div class="row" style="margin-left:20px;" >
              <div class="col-md-4"><button type="button" class="btn btn-link " style="text-decoration:none; ">
                  <i class="fas fa-pencil-alt blue-color"></i>&nbsp;Modifier</button>
              </div>
              <div class="col-md-4"><button type="button" class="btn btn-link "style="text-decoration:none; color:red;">
                  <i class="fas fa-trash-alt"></i>&nbsp;Supprimer</button>
              </div>
              <div class="col-md-4"><button type="button" class="btn btn-link "style="text-decoration:none;">
                  <i class="far fa-list-alt"></i>&nbsp;Details</button>
              </div>
          </div>
        </div>
      </div>
      <div class="row castom-border mb-3 p-3">
        <div class="col-md-3 border-right">
           SP23ORT
        </div>
        <div class="col-md-4 border-right ">
            Articles de sport
        
        </div>
        <div class="col-md-5 ">
          <div class="row" style="margin-left:20px;" >
              <div class="col-md-4"><button type="button" class="btn btn-link " style="text-decoration:none; ">
                  <i class="fas fa-pencil-alt blue-color"></i>&nbsp;Modifier</button>
              </div>
              <div class="col-md-4"><button type="button" class="btn btn-link "style="text-decoration:none; color:red;">
                  <i class="fas fa-trash-alt"></i>&nbsp;Supprimer</button>
              </div>
              <div class="col-md-4"><button type="button" class="btn btn-link "style="text-decoration:none;">
                  <i class="far fa-list-alt"></i>&nbsp;Details</button>
              </div>
          </div>
        </div>
      </div>
      <div class="row castom-border mb-3 p-3">
        <div class="col-md-3 border-right">
           S89PRS
        </div>
        <div class="col-md-4 border-right">
            Articles de soins personnels
        
        </div>
        <div class="col-md-5 ">
          <div class="row" style="margin-left:20px;" >
              <div class="col-md-4"><button type="button" class="btn btn-link " style="text-decoration:none; ">
                  <i class="fas fa-pencil-alt blue-color"></i>&nbsp;Modifier</button>
              </div>
              <div class="col-md-4"><button type="button" class="btn btn-link "style="text-decoration:none; color:red;">
                  <i class="fas fa-trash-alt"></i>&nbsp;Supprimer</button>
              </div>
              <div class="col-md-4"><button type="button" class="btn btn-link "style="text-decoration:none;">
                  <i class="far fa-list-alt"></i>&nbsp;Details</button>
              </div>
          </div>
        </div>
      </div>
      <div class="row castom-border mb-3 p-3">
        <div class="col-md-3 border-right">
           11FB
        </div>
        <div class="col-md-4 border-right ">
            Fournitures de bureau  
        
        </div>
        <div class="col-md-5 ">
          <div class="row"style="margin-left:20px;" >
              <div class="col-md-4" ><button type="button" class="btn btn-link " style="text-decoration:none; ">
                  <i class="fas fa-pencil-alt blue-color"></i>&nbsp;Modifier</button>
              </div>
              <div class="col-md-4"><button type="button" class="btn btn-link "style="text-decoration:none; color:red;">
                  <i class="fas fa-trash-alt"></i>&nbsp;Supprimer</button>
              </div>
              <div class="col-md-4"><button type="button" class="btn btn-link "style="text-decoration:none;">
                  <i class="far fa-list-alt"></i>&nbsp;Details</button>
              </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="row mb-3 " style="text-align: center;">
        <div class=" col-md-12 text-center">
            <app-pagination></app-pagination>
        </div>
        
    </div>
</div>

