<div class="col">
    <div class="  row  m-3 p-0">
        <div class="  col-md-8">
            <h2>Commandes {{origin}}  </h2>

        </div>
        <div class="col-md-4" style="text-align: right; margin-left:73%; ">
         <app-boutton-action  (clickEvent)="nouvelleCommande()" [estImporterVisible]="false">
        </app-boutton-action>
        </div>
    </div>
    <div class=" col m-3">
        <div class="accordion" id="accordionExample">
            <div class="card  mb-2">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-decoration: none;">
                    <app-detail-cmd-clt-frs></app-detail-cmd-clt-frs>
                    
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="max-height: 200px; overflow-y: scroll;">
                <div class="card-body">
                 <div class=" row mb-1  mr-0 castom-border" >
  
                    <!-- details article -->
                    <div class="col-md-2 border-right mb-1 mt-1 ">
                        <div class="col ">
                            <div class="row" style="text-align: center;" >
                               
                                <div  class="col-md-11">Code article: F48Z1 </div>
                            </div>
                           
                        </div>
                    </div>
                    <!-- categories -->
                    <div class="col-md-3 border-right mb-1 mt-1">
                        <div class="row">
                           <div class="col-md-12" style="text-align: center;">
                            Designation article:T-shirt en coton blanc
                           </div>
                        </div>
                    </div>
                
                    <div class="col-md-3 border-right mb-1 mt-1">
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                Quantité commandée: 70
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 border-right mb-1 mt-1">
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                Prix unitair:30
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2  mb-1 mt-1">
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                Prix total:2100
                            </div>
                        </div>
                    </div>
                           
                            
                               
                                    
                
                                
                        
                            
                    <!-- bouttons action -->
                   
                   </div>
                   <app-detail-cmd></app-detail-cmd>
                  
                   <div class=" row mb-1  mr-0 castom-border" >
  
                    <!-- details article -->
                    <div class="col-md-2 border-right mb-1 mt-1 ">
                        <div class="col ">
                            <div class="row" style="text-align: center;" >
                               
                                <div  class="col-md-11">Code article: ACLE75 </div>
                            </div>
                           
                        </div>
                    </div>
                    <!-- categories -->
                    <div class="col-md-3 border-right mb-1 mt-1">
                        <div class="row">
                           <div class="col-md-12" style="text-align: center;">
                            Designation article:Clé USB 16 Go Kingston
                           </div>
                        </div>
                    </div>
                
                    <div class="col-md-3 border-right mb-1 mt-1">
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                Quantité commandée:20
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 border-right mb-1 mt-1">
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                Prix unitair:10
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2  mb-1 mt-1">
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                Prix total:200
                            </div>
                        </div>
                    </div>
                           
                            
                               
                                    
                
                                
                        
                            
                    <!-- bouttons action -->
                   
                   </div>
                   <app-detail-cmd></app-detail-cmd>
                   <div class=" row mb-1  mr-0 castom-border" >
  
                    <!-- details article -->
                    <div class="col-md-2 border-right mb-1 mt-1 ">
                        <div class="col ">
                            <div class="row" style="text-align: center;" >
                               
                                <div  class="col-md-11">Code article: F48Z1 </div>
                            </div>
                           
                        </div>
                    </div>
                    <!-- categories -->
                    <div class="col-md-3 border-right mb-1 mt-1">
                        <div class="row">
                           <div class="col-md-12" style="text-align: center;">
                            Designation article:T-shirt en coton blanc
                           </div>
                        </div>
                    </div>
                
                    <div class="col-md-3 border-right mb-1 mt-1">
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                Quantité commandée: 70
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 border-right mb-1 mt-1">
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                Prix unitair:30
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2  mb-1 mt-1">
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                Prix total:2100
                            </div>
                        </div>
                    </div>
                           
                            
                               
                                    
                
                                
                        
                            
                    <!-- bouttons action -->
                   
                   </div>
                           
                                
                                
                            
                           
                </div>
                
              </div>
              <div class="card-footer">
                <div class="row">
                    <div class="col-md-6" style="text-align: left;">
                       <h5> 5 articles commandés</h5>
                    </div>
                    <div class="col-md-6"  style="text-align: right;">
                       <h5> Total commande: 7400</h5>
                    </div>
                </div>
            </div>
            </div>

            <div class="card  mb-2">
                <div class="card-header" id="headingOne1">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1" style="text-decoration: none;">
                      <app-detail-cmd-clt-frs></app-detail-cmd-clt-frs>
                      
                    </button>
                  </h2>
                </div>
            
                <div id="collapseOne1" class="collapse " aria-labelledby="headingOne1" data-bs-parent="#accordionExample" style="max-height: 200px; overflow-y: scroll;">
                  <div class="card-body ">
                     <app-detail-cmd></app-detail-cmd>
                     <app-detail-cmd></app-detail-cmd>
                     <app-detail-cmd></app-detail-cmd>
                    
                     
                  </div>
                   
                </div>
                <div class="card-footer">
                  <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h5>3 articles commandés</h5>
                      </div>
                      <div class="col-md-6"  style="text-align: right;">
                         <h5> Total commande: 4500</h5>
                      </div>
                  </div>
              </div>
              </div>
            
        </div>
        
    </div>
    <div class="row mb-3 " style="text-align: center;">
        <div class=" col-md-12 text-center">
            <app-pagination></app-pagination>
        </div>
        
    </div>
</div>
