<div class="container my-container">
    <div class="card justify-content-md-center">
        <div class="card-header text-center">
            <h3> S'inscrire</h3>
        </div>
      <div class="card-body">
          <div class="form-floating  mb-3">
              <input type="text" class="form-control" id="floatingInput"  placeholder="Nom" >
              <label for="floatingInput">Nom</label>
            </div>
            <div class="form-floating  mb-3">
              <input type="text" class="form-control" id="floatingInput"  placeholder="Nom" >
              <label for="floatingInput">Prénom</label>
            </div>
            <div class="form-floating  mb-3">
                <input type="text" class="form-control" id="floatingInput"  placeholder="Matricule" >
                <label for="floatingInput">Matricule</label>
              </div>
              <div class="form-floating  mb-3">
                <input type="email" class="form-control" id="floatingInput"  placeholder="E-mail" >
                <label for="floatingInput">E-mail</label>
              </div>
              <div class="form-floating  mb-3">
                <input type="text" class="form-control" id="floatingInput"  placeholder="Adresse" >
                <label for="floatingInput">Adresse</label>
              </div>
              <div class="form-floating  mb-3">
                <input type="text" class="form-control" id="floatingInput"  placeholder="Ville" >
                <label for="floatingInput">Numéro de téléphone</label>
              </div>

              <div class="form-floating  mb-3">
                <input type="text" class="form-control" id="floatingInput"  placeholder="Code postal" >
                <label for="floatingInput">Code postal</label>
              </div>
              <div class="form-floating  mb-3">
                <input type="password" class="form-control" id="floatingInput"  placeholder="Mot de passe" >
                <label for="floatingInput">Mot de passe</label>
              </div>
              <div class="form-floating  mb-3">
                <input type="password" class="form-control" id="floatingInput"  placeholder="Confirmer mot de passe" >
                <label for="floatingInput">Confirmer mot de passe</label>
              </div>
              
            <div class="mb-3 d-flex justify-content-between">
              <a [routerLink]="['/login']" class="btn btn-link">Se  connecter</a>
              <button type="button" class="btn btn-primary"><i class="fas fa-check"></i>&nbsp;S'inscrire
              </button>
              
            </div>
            
      </div>
    </div>
  </div>
  
  
  
  
