<div class="row">
    <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" style="color:rgb(105, 186, 191);">100<i class="fas fa-users" style="margin-left: 180px;"></i></h4>
            <p class="card-text" style="color:gray;">Clients</p>
           <!-- Remplacez 1000 par le nombre réel de clients -->
          </div>
         <div class="row  " style="background-color: rgb(157, 222, 225); margin-left: 0px;margin-right: 0px;border-radius: 3px;">
          <div class="col-md-10 mt-2" >
             <p  style="font-size: 15px; margin-left: 5px; color:white; "> <i class="fas fa-percent size"  ></i>&nbsp; Charge</p>
            </div>
    
            <div class="col-md-2 mt-2">
              <i class="fas fa-chart-line  white-color"></i>
            </div>
         </div>
         
        </div>
      </div> 
      <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="color:#fa7e71; ">20<i class="fas fa-users" style="margin-left: 180px;"></i></h4>
              <p class="card-text" style="color:gray;">Foursinneurs</p><!-- Remplacez 1000 par le nombre réel de clients -->
            </div>
            <div class="row" style="background-color: #fa7e71; margin-left: 0px;margin-right: 0px;border-radius: 3px;">
              <div class="col-md-10 mt-2" >
                 <p  style="font-size: 15px; margin-left: 5px; color:white;"><i class="fas fa-percent size" ></i>&nbsp;Charge</p>
                </div>
      
                <div class="col-md-2 mt-2">
                  <i class="fas fa-chart-line  white-color"></i>
                </div>
             </div>
             
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="color:rgb(124, 124, 255);">50<i class="fas fa-box-open" style="margin-left: 190px;"></i></h4>
              <p class="card-text" style="color:gray;">Articles</p><!-- Remplacez 1000 par le nombre réel de clients -->
            </div>
            <div class="row" style="background-color: rgb(124, 124, 255);margin-left: 0px;margin-right: 0px;border-radius: 3px;">
              <div class="col-md-10 mt-2" >
                 <p  style="font-size: 15px; margin-left: 5px; color:white;"><i class="fas fa-percent size" ></i>&nbsp;Charge</p>
                </div>
      
                <div class="col-md-2 mt-2">
                  <i class="fas fa-chart-line  white-color"></i>
                </div>
             </div>
             
          </div>
        </div>
      
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="color:#6fd091;">5<i class="fas fa-tools"  style="margin-left: 200px;"></i></h4>
              <p class="card-text" style="color:gray;">Catégories</p><!-- Remplacez 1000 par le nombre réel de clients -->
            </div>
            <div class="row" style="background-color: #6fd091;margin-left: 0px;margin-right: 0px;border-radius: 3px;">
              <div class="col-md-10 mt-2" >
                 <p  style="font-size: 15px; margin-left: 5px; color:white;"><i class="fas fa-percent size" ></i>&nbsp;Charge</p>
                </div>
      
                <div class="col-md-2 mt-2">
                  <i class="fas fa-chart-line  white-color"></i>
                </div>
             </div> 
             
          </div>
        </div>
    
</div>
